{block content}
<div class="container wrapper">
    <div class="error-page container d-flex flex-column">
        <div>
            <img class="img-fluid" src="{$basePath}/images/405.png" alt="404">
        </div>
        <div class="mt-5">
            <p class="omluva">Metoda není povolena</p>
        </div>
        <div class="d-flex flex-row justify-content-between mt-5">
            <p class="ops">Oooooops!</p>
        </div>
    </div>
</div>
